<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reezkyillma.kotlinempatbelas.kotlinlimabelas">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activitiesAnimationAction.LaunchRocketValue">

        </activity>

        <activity android:name=".activitiesAnimationAction.RocketMuter">

        </activity>

        <activity android:name=".activitiesAnimationAction.RocketTambahCepet">

        </activity>

        <activity android:name=".activitiesAnimationAction.LaunchRocketObject">

        </activity>

        <activity android:name=".activitiesAnimationAction.MaininBackground">

        </activity>

        <activity android:name=".activitiesAnimationAction.MuterNgegas">

        </activity>

        <activity android:name=".activitiesAnimationAction.MuterNgegas2">

        </activity>

        <activity android:name=".activitiesAnimationAction.TerbangBareng">

        </activity>

        <activity android:name=".activitiesAnimationAction.WithListener">

        </activity>

        <activity android:name=".activitiesAnimationAction.MajuMundur">

        </activity>
        <activity android:name=".activitiesAnimationAction.WithXml">

        </activity>



    </application>

</manifest>